.main {
  width: 100vw;
  background-color: #fff9fe;
  padding: 10px;
}

.Humberger {
  display: flex;
  flex-flow: column;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.Humberger span {
  border-radius: 10px;
  width: 30px;
  height: 3px;
  background: rgb(0, 0, 0);
  margin-top: 5px;
}
.close.Humberger span:nth-child(3) {
  transform: translate(100%) rotate(235deg);
  transform-origin: left top;
  top: 15px;
  right: 5px;
  position: relative;
}
.close.Humberger span:nth-child(1) {
  transform: translate(100%) rotate(125deg);
  transform-origin: left top;
}
.close.Humberger span:nth-child(2) {
  display: none;
}
